<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title> suppoyo. collaboration > competition </title>
    <head>
       
        <link rel="shortcut icon" type="image" href="https://raw.githubusercontent.com/amatusgroup/clan/master/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
    </head>
        <body>


          <div>
            <a href="/"><span style="font-size: 26pt; font-family: sans-serif;color: #333;">suppoyo<span style="color: #ff0000;">.</span></a>
              <a href="{{ url_for('faq') }}">faq</a>
              <a href="{{ url_for('legal') }}">legal</a>
          </div> 

      <p><h3>Why suppoyo<span style="color: #ff0000;">.</span>?</h3></p>
      <p>At amatus. we dream of a world in which collaboration is more common than competition, in which the success of our peers does not come at the expense of our own.
          We are passionate about designing systems that incentivize benevolent behavior, while creating benefits for everyone involved.</p>

          <p><h3>How long does the study run for?</h3></p>
          <p>Six months.<br>
              We will gather your feedback at the end of each month. 
              You can cancel the contract at any point. We just ask that you give us and your partner a two week notice. </p>

              <p><h3>How will the contract negotiation work?</h3></p>
              <p>After you have each submitted your income statements and your desired support exchange, you can sign the contracts and send upload them to the suppoyo platform.</p>

              <p><h3>What do we expect will happen once you’ve signed the contract?</h3></p>
              <p>We expect that with the help, support and skill sharing you’ll be exchanging, both of you will grow and progress in your careers.  
                  We expect you to meet at least once monthly to collaborate and share feedback. We are happy to help schedule and structure this meeting for you. 
                  Each month, you will each place the percentage of your incomes that you agreed upon in a savings or separate bank account.</p>

              <p><h3>Can I choose how much of my income I want to invest?</h3></p>
              <p>Of course.</p>

              <p><h3>When are the shares paid out?</h3></p>
              <p>Shares are paid out at the end of the six months, or at the end of the contract if it’s canceled by either party beforehand. </p>

              <p><h3>What are the risks?</h3></p>
              <p>None, really.<br>
                  You can decide to cancel the contract at any time, with a two week notice period. </p>

<br>
<p><small>amatus<span style="color: #ff081d;">.</span> impact Lab</p>


        </body>

</html>