<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title> suppoyo. collaboration > competition </title>
    <head>
       
        <link rel="shortcut icon" type="image" href="https://raw.githubusercontent.com/amatusgroup/clan/master/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
    </head>
        <body>


          <div>
            <a href="/"><span style="font-size: 26pt; font-family: sans-serif;color: #333;">suppoyo<span style="color: #ff0000;">.</span></a>
              <a href="{{ url_for('faq') }}">faq</a>
              <a href="{{ url_for('legal') }}">legal</a>
          </div> 

      
        <h3><span style="font-size: 26pt; font-family: sans-serif;">suppoyo<span style="color: #ff0000;">.</span> in a nutshell.</span></h3>

<ul>
    <li>A program based on <strong>collaboration over competition</strong></li>
    <li>Sharing of personal <strong>success</strong></li>
    <li><strong>Support system</strong> for your network to your benefit</li>

</ul>

<p><img src="https://preview.ibb.co/cqrrTU/c75541c6_3a4d_4a98_a07d_a4206bfdc6c9.png" alt="Summary"></p>

<h3>How does it work?</h3>

<p>Suppoyo. is a contract creator that allows two people to invest a percentage of their incomes in one another for mutual benefit. 
Each person will also invest support (networking, referrals, project help, etc.) in the other person in order to help one another. 
We are currently in the testing phase and are recruiting participants to join our study. </p>


<p><img src="https://preview.ibb.co/mnPWv9/journeyforwebsite.png" alt="Guide steps" /></p>

<p><a href="https://valentinacalandra.typeform.com/to/mcHrTE" target="_blank" title="Typeform questionnaire">Interested?</a></p>
    

    <h4>Incase you have any questions or remarks. Don’t hesitate to contact us.</h4>
    <p><a href="mailto:dev@amatus.com" title="Email ID">Dev Pramoth</a> - Venture Developer</p>
    <p><a href="mailto:valentina@amatus.com" title="Email ID">Valentina Calandra</a> - Innovation Strategist</p>
    <br>
    

<!--- Formspree form --->
<h3>Interested? Follow our development</h3>
<form method="POST" action="https://formspree.io/dev@amatus.com">
    <p><input style="height:30px; width:350px" name="Name" placeholder="Your name"></p>
    <p><input style="height:30px; width:350px" type="email" name="email" placeholder="Your email"></p>
  <button class="button1" type="submit">Subscribe</button>
  <input type="hidden" name="_next" value="http://www.amatus.com/clan/" />
</form>
<br>

<!--- Office on Maps -->

<h3>Drop by our office.</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.015425682536!2d13.392905351721971!3d52.533155079717645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851efdefd0be9%3A0x254a27234ee35738!2samatus.+GmbH!5e0!3m2!1sen!2sde!4v1534854970544" width="700" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>


<br>
<p><small>amatus<span style="color: #ff081d;">.</span> impact Lab</p>


        </body>

</html>