<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title> suppoyo. collaboration > competition </title>
    <head>
       
        <link rel="shortcut icon" type="image" href="https://raw.githubusercontent.com/amatusgroup/clan/master/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
    </head>
        <body>


          <div>
            <a href="/"><span style="font-size: 26pt; font-family: sans-serif;color: #333;">suppoyo<span style="color: #ff0000;">.</span></a>
              <a href="{{ url_for('faq') }}">faq</a>
              <a href="{{ url_for('legal') }}">legal</a>
          </div> 
<p>
         <h4>We are currently working with lawyers to put a legal framework in place. We will update this space once it is easy.</h4> </p>

<br>
<p><small>amatus<span style="color: #ff081d;">.</span> impact Lab</p>


        </body>

</html>